In [60]:
#import modules
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn
import collections, numpy
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.utils import resample


pd.options.display.max_columns=999
pd.options.display.max_rows=3000

from openpyxl.workbook import Workbook

In [2]:
data_file = pd.read_excel('Collections Case Study Data.xlsx', sheet_name=None)

## Model Data Cleaning

In [3]:
data_file.keys()

odict_keys(['Loan Details', 'Loan_Status_MartoMay', 'Loan_Status_AprtoJun', 'Historical 6 Months Details', 'Loan_ID mapping', 'Call Details'])

In [4]:
df = data_file

In [5]:
# start_data = df['Loan Details']
mar1_data = df['Loan_Status_MartoMay'].loc[df['Loan_Status_MartoMay']['Month'] == 'March']
apr1_data = df['Loan_Status_MartoMay'].loc[df['Loan_Status_MartoMay']['Month'] == 'April']
may1_data = df['Loan_Status_MartoMay'].loc[df['Loan_Status_MartoMay']['Month'] == 'May']
apr2_data = df['Loan_Status_AprtoJun'].loc[df['Loan_Status_AprtoJun']['Month'] == 'April']
may2_data = df['Loan_Status_AprtoJun'].loc[df['Loan_Status_AprtoJun']['Month'] == 'May']
jun2_data = df['Loan_Status_AprtoJun'].loc[df['Loan_Status_AprtoJun']['Month'] == 'June']

In [6]:
apr2_data.head()

,Loan_id,Bucket,PRINBALANCE,TENURE,Months on Books,Sanctioned Amount,Month
1,A205346000,TB1,1332100.0,36,34,22000000,April
2,A675851816,TB1,20875500.0,48,31,40000000,April
7,A260852240,TB1,37947922.5,48,25,60000000,April
19,A374402177,TB0,11214900.0,36,20,20000000,April
21,A211889361,TB0,8666200.0,36,26,22000000,April

In [7]:
mar_data = pd.merge(mar1_data, apr2_data, how='left', on='Loan_id', suffixes=('_mar01', '_mar31'))
apr_data = pd.merge(apr1_data, may2_data, how='left', on='Loan_id', suffixes=('_apr01', '_apr31'))
may_data = pd.merge(may1_data, jun2_data, how='left', on='Loan_id', suffixes=('_may01', '_may31'))

In [8]:
data1 = pd.merge(mar_data, apr_data, how='outer', on='Loan_id')
data1 = pd.merge(data1, may_data, how='outer', on='Loan_id')

In [9]:
print(mar_data.shape)
print(apr_data.shape)
print(may_data.shape)
print(data1.shape)

(24575, 13)
(27079, 13)
(29115, 13)
(40339, 37)

In [10]:
data1.head(100)

,Loan_id,Bucket_mar01,TENURE_mar01,PRINBALANCE_mar01,Months on Books_mar01,Sanctioned Amount_mar01,Month_mar01,Bucket_mar31,PRINBALANCE_mar31,TENURE_mar31,Months on Books_mar31,Sanctioned Amount_mar31,Month_mar31,Bucket_apr01,TENURE_apr01,PRINBALANCE_apr01,Months on Books_apr01,Sanctioned Amount_apr01,Month_apr01,Bucket_apr31,PRINBALANCE_apr31,TENURE_apr31,Months on Books_apr31,Sanctioned Amount_apr31,Month_apr31,Bucket_may01,TENURE_may01,PRINBALANCE_may01,Months on Books_may01,Sanctioned Amount_may01,Month_may01,Bucket_may31,PRINBALANCE_may31,TENURE_may31,Months on Books_may31,Sanctioned Amount_may31,Month_may31
0,A205346000,TB0,36.0,3693500.0,33.0,22000000.0,March,TB1,1332100.0,36.0,34.0,22000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A675851816,TB0,48.0,24353700.0,30.0,40000000.0,March,TB1,20875500.0,48.0,31.0,40000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A260852240,TB0,48.0,42514900.0,24.0,60000000.0,March,TB1,37947922.5,48.0,25.0,60000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A374402177,TB0,36.0,12290300.0,19.0,20000000.0,March,TB0,11214900.0,36.0,20.0,20000000.0,April,TB0,36.0,11214900.0,20.0,20000000.0,April,TB0,10639500.0,36.0,21.0,20000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A211889361,TB0,36.0,9396700.0,25.0,22000000.0,March,TB0,8666200.0,36.0,26.0,22000000.0,April,TB0,36.0,8666200.0,26.0,22000000.0,April,TB1,8666200.0,36.0,27.0,22000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A632584286,TB0,36.0,11456500.0,27.0,30000000.0,March,TB1,9323600.0,36.0,28.0,30000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A438168707,TB0,24.0,4039000.0,21.0,25000000.0,March,TB1,4039000.0,24.0,22.0,25000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A770975703,TB0,48.0,51971400.0,18.0,63000000.0,March,TB0,48078300.0,48.0,19.0,63000000.0,April,TB0,48.0,49096300.0,19.0,63000000.0,April,TB0,47028900.0,48.0,20.0,63000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A165204638,TB0,36.0,8863800.0,26.0,25000000.0,March,TB0,8038600.0,36.0,27.0,25000000.0,April,TB0,36.0,8038600.0,27.0,25000000.0,April,REGULAR,6260600.0,36.0,28.0,25000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,A557566457,TB0,36.0,7208200.0,32.0,36000000.0,March,TB1,4431900.0,36.0,33.0,36000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,A947827477,TB0,36.0,12801700.0,20.0,20000000.0,March,TB0,11145500.0,36.0,21.0,20000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,A905745556,TB0,36.0,2904100.0,34.0,30000000.0,March,TB0,489200.0,36.0,35.0,30000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,A135488281,TB0,36.0,12060100.0,28.0,32000000.0,March,TB1,9850600.0,36.0,29.0,32000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A406260790,TB0,36.0,5007801.0,32.0,29000000.0,March,REGULAR,2387100.0,36.0,33.0,29000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,A391367446,TB0,36.0,7700600.0,28.0,20000000.0,March,TB1,6299100.0,36.0,29.0,20000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,A892434520,TB0,36.0,5523200.0,31.0,30000000.0,March,TB0,3790400.0,36.0,32.0,30000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,A820954445,TB0,36.0,5110005.0,31.0,26000000.0,March,TB0,3071305.0,36.0,32.0,26000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,36.0,3071305.0,33.0,26000000.0,May,TB0,907405.0,36.0,34.0,26000000.0,June
17,A6638164,TB0,36.0,3987800.0,30.0,19000000.0,March,TB0,2517300.0,36.0,31.0,19000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,36.0,2517300.0,32.0,19000000.0,May,REGULAR,477700.0,36.0,33.0,19000000.0,June
18,A522625735,TB0,36.0,11719100.0,26.0,28000000.0,March,TB1,9855500.0,36.0,27.0,28000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,A604126535,TB0,36.0,4260500.0,30.0,20000000.0,March,TB0,2707800.0,36.0,31.0,20000000.0,April,TB0,36.0,3493000.0,31.0,20000000.0,April,TB0,1892600.0,36.0,32.0,20000000.0,May,TB0,36.0,2707800.0,32.0,20000000.0,May,TB0,1050000.0,36.0,33.0,20000000.0,June
20,A769338416,TB0,36.0,4439400.0,30.0,20000000.0,March,TB0,2907700.0,36.0,31.0,20000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A479980408,TB0,36.0,6058900.0,29.0,24000000.0,March,TB0,4237800.0,36.0,30.0,24000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,36.0,4237800.0,31.0,24000000.0,May,TB0,2291700.0,36.0,32.0,24000000.0,June
22,A565946752,TB0,48.0,6311000.0,44.0,55000000.0,March,REGULAR,1726500.0,48.0,45.0,55000000.0,April,TB0,48.0,3616400.0,45.0,55000000.0,April,TB0,1061500.0,48.0,46.0,55000000.0,May,TB0,48.0,1726500.0,46.0,55000000.0,May,TB1,995600.0,48.0,47.0,55000000.0,June
23,A578606289,TB0,48.0,16054700.0,39.0,60000000.0,March,TB0,12596100.0,48.0,40.0,60000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,48.0,12596100.0,41.0,60000000.0,May,REGULAR,8059600.0,48.0,42.0,60000000.0,June
24,A182242226,TB0,48.0,44999000.0,36.0,120000000.0,March,TB0,38802700.0,48.0,37.0,120000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,A61042792,TB0,36.0,4575600.0,29.0,15000000.0,March,TB0,3486100.0,36.0,30.0,15000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,A420115624,TB0,24.0,10461700.0,18.0,30000000.0,March,TB0,7604800.0,24.0,19.0,30000000.0,April,TB0,24.0,9051700.0,19.0,30000000.0,April,TB0,6093900.0,24.0,20.0,30000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,A789790151,TB0,36.0,10898400.0,26.0,29000000.0,March,TB0,8899500.0,36.0,27.0,29000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,A76086225,TB0,48.0,22804400.0,33.0,52000000.0,March,TB0,18836250.0,48.0,34.0,52000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,48.0,18836250.0,35.0,52000000.0,May,TB0,17343100.0,48.0,36.0,52000000.0,June
29,A341054903,TB0,36.0,15673700.0,25.0,35000000.0,March,REGULAR,12749200.0,36.0,26.0,35000000.0,April,TB0,36.0,14579300.0,26.0,35000000.0,April,REGULAR,11504900.0,36.0,27.0,35000000.0,May,TB0,36.0,12749200.0,27.0,35000000.0,May,REGULAR,10220700.0,36.0,28.0,35000000.0,June
30,A96066008,TB0,36.0,2636500.0,32.0,18000000.0,March,TB0,1153200.0,36.0,33.0,18000000.0,April,TB0,36.0,1906200.0,33.0,18000000.0,April,TB0,371200.0,36.0,34.0,18000000.0,May,TB0,36.0,1153200.0,34.0,18000000.0,May,TB1,345600.0,36.0,35.0,18000000.0,June
31,A206344876,TB0,48.0,16289500.0,31.0,32000000.0,March,TB0,14710600.0,48.0,32.0,32000000.0,April,TB0,48.0,15511700.0,32.0,32000000.0,April,TB0,13885500.0,48.0,33.0,32000000.0,May,TB0,48.0,14710600.0,33.0,32000000.0,May,TB0,12160200.0,48.0,34.0,32000000.0,June
32,A552362493,TB0,48.0,21286000.0,30.0,40000000.0,March,TB1,20341400.0,48.0,31.0,40000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,A368876839,TB0,36.0,16305600.0,22.0,30000000.0,March,TB0,14606100.0,36.0,23.0,30000000.0,April,TB0,36.0,15467100.0,23.0,30000000.0,April,TB0,13690100.0,36.0,24.0,30000000.0,May,TB0,36.0,14606100.0,24.0,30000000.0,May,TB0,12953300.0,36.0,25.0,30000000.0,June
34,A321170051,TB0,36.0,22889000.0,15.0,32000000.0,March,REGULAR,21309600.0,36.0,16.0,32000000.0,April,TB0,36.0,22111900.0,16.0,32000000.0,April,REGULAR,20481200.0,36.0,17.0,32000000.0,May,TB0,36.0,21309600.0,17.0,32000000.0,May,TB0,20481200.0,36.0,18.0,32000000.0,June
35,A711890322,TB0,36.0,14309100.0,21.0,25000000.0,March,TB0,12846000.0,36.0,22.0,25000000.0,April,TB0,36.0,13580800.0,22.0,25000000.0,April,TB0,12089700.0,36.0,23.0,25000000.0,May,TB0,36.0,12846000.0,23.0,25000000.0,May,TB0,11311400.0,36.0,24.0,25000000.0,June
36,A683142009,TB0,48.0,89956900.0,26.0,150000000.0,March,TB0,83794100.0,48.0,27.0,150000000.0,April,TB0,48.0,86805500.0,27.0,150000000.0,April,TB0,80644700.0,48.0,28.0,150000000.0,May,TB0,48.0,83794100.0,28.0,150000000.0,May,TB0,77436000.0,48.0,29.0,150000000.0,June
37,A471597341,TB0,36.0,12267200.0,20.0,20000000.0,March,TB0,11145500.0,36.0,21.0,20000000.0,April,TB0,36.0,11715300.0,21.0,20000000.0,April,TB0,10557200.0,36.0,22.0,20000000.0,May,TB0,36.0,11145500.0,22.0,20000000.0,May,TB0,9949800.0,36.0,23.0,20000000.0,June
38,A959642397,TB0,36.0,8139700.0,30.0,35000000.0,March,TB0,3996000.0,36.0,31.0,35000000.0,April,TB0,36.0,6754200.0,31.0,35000000.0,April,TB0,2542600.0,36.0,32.0,35000000.0,May,TB0,36.0,3996000.0,32.0,35000000.0,May,TB1,2461500.0,36.0,33.0,35000000.0,June
39,A924501277,TB0,36.0,5815800.0,29.0,19000000.0,March,TB0,3772100.0,36.0,30.0,19000000.0,April,TB0,36.0,4476100.0,30.0,19000000.0,April,TB0,3034300.0,36.0,31.0,19000000.0,May,TB0,36.0,3772100.0,31.0,19000000.0,May,TB0,2261100.0,36.0,32.0,19000000.0,June
40,A668500880,TB0,36.0,20396300.0,24.0,41000000.0,March,TB1,19110500.0,36.0,25.0,41000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,A87845112,TB0,48.0,39381200.0,15.0,46000000.0,March,TB1,38156600.0,48.0,16.0,46000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,48.0,38156600.0,17.0,46000000.0,May,TB1,36801200.0,48.0,18.0,46000000.0,June
42,A625532679,TB0,36.0,18295200.0,17.0,28000000.0,March,TB0,16815700.0,36.0,18.0,28000000.0,April,TB0,36.0,17563800.0,18.0,28000000.0,April,TB0,16050400.0,36.0,19.0,28000000.0,May,TB0,36.0,16815700.0,19.0,28000000.0,May,TB0,15267600.0,36.0,20.0,28000000.0,June
43,A906511501,TB0,36.0,6190300.0,31.0,25000000.0,March,TB0,3334600.0,36.0,32.0,25000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,36.0,3334600.0,33.0,25000000.0,May,TB0,1219800.0,36.0,34.0,25000000.0,June
44,A136097503,TB0,36.0,12216300.0,27.0,30000000.0,March,TB0,9205600.0,36.0,28.0,30000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,A876250672,TB0,48.0,35569600.0,28.0,65000000.0,March,TB0,32772400.0,48.0,29.0,65000000.0,April,TB0,48.0,34180700.0,29.0,65000000.0,April,TB0,31302900.0,48.0,30.0,65000000.0,May,TB0,48.0,32772400.0,30.0,65000000.0,May,TB0,29802500.0,48.0,31.0,65000000.0,June
46,A368468315,TB0,36.0,10266300.0,30.0,43000000.0,March,TB0,7057700.0,36.0,31.0,43000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,36.0,7057700.0,32.0,43000000.0,May,REGULAR,1927200.0,36.0,33.0,43000000.0,June
47,A346367998,TB0,48.0,29506100.0,26.0,50000000.0,March,TB0,27472300.0,48.0,27.0,50000000.0,April,TB0,48.0,28496000.0,27.0,50000000.0,April,TB0,26364900.0,48.0,28.0,50000000.0,May,TB0,48.0,27472300.0,28.0,50000000.0,May,TB0,25220200.0,48.0,29.0,50000000.0,June
48,A360644797,TB0,48.0,34016500.0,21.0,46000000.0,March,TB0,32409600.0,48.0,22.0,46000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,A452354121,TB0,48.0,16473600.0,39.0,63000000.0,March,TB0,12449600.0,48.0,40.0,63000000.0,April,TB0,48.0,14478300.0,40.0,63000000.0,April,TB0,10328800.0,48.0,41.0,63000000.0,May,TB0,48.0,12449600.0,41.0,63000000.0,May,TB0,8142000.0,48.0,42.0,63000000.0,June
50,A155052932,TB0,48.0,56888900.0,19.0,73000000.0,March,TB0,54493200.0,48.0,20.0,73000000.0,April,TB0,48.0,55709200.0,20.0,73000000.0,April,TB0,53239700.0,48.0,21.0,73000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,A732559151,TB0,36.0,6260600.0,32.0,40000000.0,March,REGULAR,3086100.0,36.0,33.0,40000000.0,April,TB0,36.0,4693900.0,33.0,40000000.0,April,REGULAR,1436100.0,36.0,34.0,40000000.0,May,TB0,36.0,3086100.0,34.0,40000000.0,May,TB0,1436100.0,36.0,35.0,40000000.0,June
52,A265200077,TB0,36.0,8463600.0,28.0,25000000.0,March,TB0,6716600.0,36.0,29.0,25000000.0,April,TB0,36.0,7601100.0,29.0,25000000.0,April,TB0,5792000.0,36.0,30.0,25000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,A349771953,TB0,48.0,14016600.0,37.0,40000000.0,March,TB0,11817200.0,48.0,38.0,40000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,48.0,11817200.0,39.0,40000000.0,May,TB0,9514700.0,48.0,40.0,40000000.0,June
54,A221380636,TB0,36.0,8994200.0,26.0,25000000.0,March,TB0,7275600.0,36.0,27.0,25000000.0,April,TB0,36.0,8144600.0,27.0,25000000.0,April,TB0,6367000.0,36.0,28.0,25000000.0,May,TB0,36.0,7275600.0,28.0,25000000.0,May,TB0,5433300.0,36.0,29.0,25000000.0,June
55,A824594509,TB0,48.0,17449000.0,34.0,44000000.0,March,TB0,15943200.0,48.0,35.0,44000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,A230806964,TB0,36.0,7797400.0,30.0,31000000.0,March,TB0,5457100.0,36.0,31.0,31000000.0,April,TB0,36.0,6637600.0,31.0,31000000.0,April,TB0,4221900.0,36.0,32.0,31000000.0,May,TB0,36.0,5457100.0,32.0,31000000.0,May,TB0,2946700.0,36.0,33.0,31000000.0,June
57,A477595843,TB0,48.0,14362100.0,33.0,31000000.0,March,TB0,11841600.0,48.0,34.0,31000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,A234573444,TB0,48.0,44732300.0,10.0,50000000.0,March,TB0,43430000.0,48.0,11.0,50000000.0,April,TB0,48.0,44066200.0,11.0,50000000.0,April,TB0,42713700.0,48.0,12.0,50000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,A43585520,TB0,48.0,4972300.0,40.0,18000000.0,March,TB0,3862500.0,48.0,41.0,18000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,48.0,3862500.0,42.0,18000000.0,May,TB0,2665000.0,48.0,43.0,18000000.0,June
60,A827910293,TB0,48.0,4386500.0,44.0,30000000.0,March,TB0,3308700.0,48.0,45.0,30000000.0,April,TB0,48.0,4386500.0,45.0,30000000.0,April,REGULAR,1051000.0,48.0,46.0,30000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,A330094259,TB0,36.0,5145800.0,32.0,25000000.0,March,TB0,2230000.0,36.0,33.0,25000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,A24750170,TB0,36.0,12609200.0,30.0,53000000.0,March,TB0,8691400.0,36.0,31.0,53000000.0,April,TB0,36.0,10674500.0,31.0,53000000.0,April,TB0,6660800.0,36.0,32.0,53000000.0,May,TB0,36.0,8691400.0,32.0,53000000.0,May,TB0,4575200.0,36.0,33.0,53000000.0,June
63,A641195763,TB0,36.0,26671100.0,17.0,40000000.0,March,REGULAR,23496400.0,36.0,18.0,40000000.0,April,TB0,36.0,24582200.0,18.0,40000000.0,April,REGULAR,22382100.0,36.0,19.0,40000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,A865837954,TB0,36.0,1209200.0,34.0,28000000.0,March,TB1,609800.0,36.0,35.0,28000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,A679065103,TB0,36.0,3094950.0,34.0,60000000.0,March,TB1,553550.0,36.0,35.0,60000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,A496817043,TB0,36.0,17572600.0,17.0,25000000.0,March,TB1,16317700.0,36.0,18.0,25000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,A941216172,TB0,36.0,2684800.0,34.0,40000000.0,March,TB1,1066000.0,36.0,35.0,40000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,A61307381,TB0,48.0,33342400.0,28.0,60000000.0,March,TB0,30842300.0,48.0,29.0,60000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,A633880239,TB0,36.0,36032100.0,29.0,150000000.0,March,TB1,36032100.0,36.0,30.0,150000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,A299342135,TB0,48.0,4659800.0,46.0,57000000.0,March,TB1,1718200.0,48.0,47.0,57000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,A801438594,TB0,48.0,21382800.0,34.0,50000000.0,March,TB0,18599600.0,48.0,35.0,50000000.0,April,TB0,48.0,20013200.0,35.0,50000000.0,April,TB0,17140700.0,48.0,36.0,50000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,A385571284,TB0,36.0,22205500.0,13.0,30000000.0,March,REGULAR,20755800.0,36.0,14.0,30000000.0,April,TB0,36.0,21490000.0,14.0,30000000.0,April,REGULAR,20002300.0,36.0,15.0,30000000.0,May,TB0,36.0,20755800.0,15.0,30000000.0,May,TB0,20002300.0,36.0,16.0,30000000.0,June
73,A158553843,TB0,48.0,3646600.0,44.0,40000000.0,March,TB0,1887300.0,48.0,45.0,40000000.0,April,TB0,48.0,2345600.0,45.0,40000000.0,April,TB1,1422500.0,48.0,46.0,40000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,A351709903,TB0,48.0,3200400.0,45.0,35000000.0,March,TB1,2011300.0,48.0,46.0,35000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,A752480828,TB0,36.0,3038500.0,34.0,31000000.0,March,TB1,1696000.0,36.0,35.0,31000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,A581986024,TB0,36.0,5604550.0,33.0,55000000.0,March,REGULAR,758500.0,36.0,34.0,55000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB0,36.0,758500.0,35.0,55000000.0,May,TB1,653650.0,36.0,36.0,55000000.0,June
77,A709361951,TB0,36.0,2446650.0,33.0,24000000.0,March,REGULAR,45800.0,36.0,34.0,24000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,A967124903,TB0,48.0,30096500.0,20.0,40000000.0,March,TB0,28267200.0,48.0,21.0,40000000.0,April,TB0,48.0,28922700.0,21.0,40000000.0,April,TB0,27549600.0,48.0,22.0,40000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,A746139642,TB0,36.0,1944600.0,33.0,18000000.0,March,TB0,443100.0,36.0,34.0,18000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,A686811168,TB0,36.0,3320950.0,32.0,29000000.0,March,TB0,865750.0,36.0,33.0,29000000.0,April,TB0,36.0,2102750.0,33.0,29000000.0,April,TB0,428750.0,36.0,34.0,29000000.0,May,TB0,36.0,865750.0,34.0,29000000.0,May,TB1,394350.0,36.0,35.0,29000000.0,June
81,A488412263,TB0,36.0,2857600.0,34.0,26000000.0,March,TB0,801000.0,36.0,35.0,26000000.0,April,TB0,36.0,1754900.0,35.0,26000000.0,April,TB1,801000.0,36.0,36.0,26000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,A348574162,TB0,36.0,6741000.0,32.0,54000000.0,March,TB0,2322100.0,36.0,33.0,54000000.0,April,TB0,36.0,4554700.0,33.0,54000000.0,April,TB0,709200.0,36.0,34.0,54000000.0,May,TB0,36.0,2322100.0,34.0,54000000.0,May,TB1,629700.0,36.0,35.0,54000000.0,June
83,A386002935,TB0,36.0,1919000.0,34.0,16000000.0,March,TB0,532200.0,36.0,35.0,16000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,A879185127,TB0,48.0,6141600.0,44.0,50000000.0,March,REGULAR,1701400.0,48.0,45.0,50000000.0,April,TB0,48.0,4531600.0,45.0,50000000.0,April,TB0,1195500.0,48.0,46.0,50000000.0,May,TB0,48.0,1701400.0,46.0,50000000.0,May,TB1,1130600.0,48.0,47.0,50000000.0,June
85,A885701048,TB0,36.0,3698500.0,33.0,30000000.0,March,TB0,1290600.0,36.0,34.0,30000000.0,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,A216632844,TB0,36.0,17282200.0,18.0,27000000.0,March,REGULAR,15816400.0,36.0,19.0,27000000.0,April,TB0,36.0,16560600.0,19.0,27000000.0,April,REGULAR,15046500.0,36.0,20.0,27000000.0,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data1.columns

Index(['Loan_id', 'Bucket_mar01', 'TENURE_mar01', 'PRINBALANCE_mar01',
       'Months on Books_mar01', 'Sanctioned Amount_mar01', 'Month_mar01',
       'Bucket_mar31', 'PRINBALANCE_mar31', 'TENURE_mar31',
       'Months on Books_mar31', 'Sanctioned Amount_mar31', 'Month_mar31',
       'Bucket_apr01', 'TENURE_apr01', 'PRINBALANCE_apr01',
       'Months on Books_apr01', 'Sanctioned Amount_apr01', 'Month_apr01',
       'Bucket_apr31', 'PRINBALANCE_apr31', 'TENURE_apr31',
       'Months on Books_apr31', 'Sanctioned Amount_apr31', 'Month_apr31',
       'Bucket_may01', 'TENURE_may01', 'PRINBALANCE_may01',
       'Months on Books_may01', 'Sanctioned Amount_may01', 'Month_may01',
       'Bucket_may31', 'PRINBALANCE_may31', 'TENURE_may31',
       'Months on Books_may31', 'Sanctioned Amount_may31', 'Month_may31'],
      dtype='object')

In [12]:
data1 = data1.drop(columns=['Month_mar01', 
                            'TENURE_mar31', 'Sanctioned Amount_mar31', 'Month_mar31', 
                            'TENURE_apr01', 'Sanctioned Amount_apr01', 'Month_apr01',
                            'TENURE_apr31','Sanctioned Amount_apr31', 'Month_apr31',
                            'TENURE_may01', 'Sanctioned Amount_may01', 'Month_may01',
                            'TENURE_may31', 'Sanctioned Amount_may31', 'Month_may31'
                           ])

In [13]:
data1.describe()

,TENURE_mar01,PRINBALANCE_mar01,Months on Books_mar01,Sanctioned Amount_mar01,PRINBALANCE_mar31,Months on Books_mar31,PRINBALANCE_apr01,Months on Books_apr01,PRINBALANCE_apr31,Months on Books_apr31,PRINBALANCE_may01,Months on Books_may01,PRINBALANCE_may31,Months on Books_may31
count,24575.000000,2.457500e+04,24575.000000,2.457500e+04,2.457500e+04,24575.000000,2.707900e+04,27079.000000,2.707900e+04,27079.000000,2.911500e+04,29115.000000,2.911500e+04,29115.000000
mean,41.832838,3.368172e+07,15.600895,4.603559e+07,3.183383e+07,16.600895,3.340031e+07,15.773847,3.157736e+07,16.773847,3.415342e+07,15.400996,3.231523e+07,16.400996
std,7.599259,2.397062e+07,10.692061,2.586228e+07,2.367301e+07,10.692061,2.364095e+07,10.643053,2.335223e+07,10.643053,2.497425e+07,10.549727,2.467654e+07,10.549727
min,12.000000,4.090000e+05,0.000000,1.000000e+07,2.000000e+02,1.000000,7.470000e+04,0.000000,1.000000e+03,1.000000,2.372000e+05,0.000000,2.000000e+02,1.000000
25%,36.000000,1.762650e+07,6.000000,3.000000e+07,1.597412e+07,7.000000,1.757270e+07,7.000000,1.592710e+07,8.000000,1.807675e+07,6.000000,1.641180e+07,7.000000
50%,48.000000,2.906860e+07,14.000000,4.000000e+07,2.757780e+07,15.000000,2.893120e+07,15.000000,2.740140e+07,16.000000,2.940660e+07,14.000000,2.798320e+07,15.000000
75%,48.000000,4.406620e+07,23.000000,5.500000e+07,4.230300e+07,24.000000,4.370955e+07,23.000000,4.205315e+07,24.000000,4.434225e+07,22.000000,4.268020e+07,23.000000
max,239.000000,3.753802e+08,74.000000,4.200000e+08,3.732658e+08,75.000000,3.743314e+08,78.000000,3.721831e+08,79.000000,1.137036e+09,84.000000,1.131137e+09,85.000000

In [14]:
data2=data1

In [15]:

data2['RF1'] = np.where(data2['Bucket_mar01']=='TB0', 1, 0)
data2['RF2'] = np.where((data2['Bucket_apr01']=='TB0')|(data2['Bucket_apr01']=='TB1'), 1, 0)
data2['RF3'] = np.where((data2['Bucket_may01']=='TB0')|(data2['Bucket_may01']=='TB1'), 1, 0)
data2['RF4'] = np.where((data2['Bucket_may31']=='TB0')|(data2['Bucket_may31']=='TB1'), 1, 0)

In [16]:
data2['RB2'] = np.where((data2['Bucket_apr01']=='TB0')&(data2['Bucket_mar01']=='TB0'), 1, 0)
data2['RB3'] = np.where(((data2['Bucket_may01']=='Nan')&(data2['Bucket_apr01']=='TB0')
                         |(data2['Bucket_may01']=='REGULAR')&(data2['Bucket_apr01']=='TB0')
                        |(data2['Bucket_may01']=='TB0')&(data2['Bucket_apr01']=='TB1')
                        ), 1, 0)
data2['RB4'] = np.where(((data2['Bucket_may31']=='Nan')&(data2['Bucket_may01']=='TB0')
                         |(data2['Bucket_may31']=='REGULAR')&(data2['Bucket_may01']=='TB0')
                        |(data2['Bucket_may31']=='TB0')&(data2['Bucket_may01']=='TB1')
                        ), 1, 0)

In [17]:
data2['RF4'].value_counts()

0    38309
1     2030
Name: RF4, dtype: int64

In [18]:
data2.head()

,Loan_id,Bucket_mar01,TENURE_mar01,PRINBALANCE_mar01,Months on Books_mar01,Sanctioned Amount_mar01,Bucket_mar31,PRINBALANCE_mar31,Months on Books_mar31,Bucket_apr01,PRINBALANCE_apr01,Months on Books_apr01,Bucket_apr31,PRINBALANCE_apr31,Months on Books_apr31,Bucket_may01,PRINBALANCE_may01,Months on Books_may01,Bucket_may31,PRINBALANCE_may31,Months on Books_may31,RF1,RF2,RF3,RF4,RB2,RB3,RB4
0,A205346000,TB0,36.0,3693500.0,33.0,22000000.0,TB1,1332100.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0
1,A675851816,TB0,48.0,24353700.0,30.0,40000000.0,TB1,20875500.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0
2,A260852240,TB0,48.0,42514900.0,24.0,60000000.0,TB1,37947922.5,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0
3,A374402177,TB0,36.0,12290300.0,19.0,20000000.0,TB0,11214900.0,20.0,TB0,11214900.0,20.0,TB0,10639500.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
4,A211889361,TB0,36.0,9396700.0,25.0,22000000.0,TB0,8666200.0,26.0,TB0,8666200.0,26.0,TB1,8666200.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40339 entries, 0 to 40338
Data columns (total 28 columns):
Loan_id                    40339 non-null object
Bucket_mar01               24575 non-null object
TENURE_mar01               24575 non-null float64
PRINBALANCE_mar01          24575 non-null float64
Months on Books_mar01      24575 non-null float64
Sanctioned Amount_mar01    24575 non-null float64
Bucket_mar31               24575 non-null object
PRINBALANCE_mar31          24575 non-null float64
Months on Books_mar31      24575 non-null float64
Bucket_apr01               27079 non-null object
PRINBALANCE_apr01          27079 non-null float64
Months on Books_apr01      27079 non-null float64
Bucket_apr31               27079 non-null object
PRINBALANCE_apr31          27079 non-null float64
Months on Books_apr31      27079 non-null float64
Bucket_may01               29115 non-null object
PRINBALANCE_may01          29115 non-null float64
Months on Books_may01      29115 non-null float64
Bucket_may31               29115 non-null object
PRINBALANCE_may31          29115 non-null float64
Months on Books_may31      29115 non-null float64
RF1                        40339 non-null int32
RF2                        40339 non-null int32
RF3                        40339 non-null int32
RF4                        40339 non-null int32
RB2                        40339 non-null int32
RB3                        40339 non-null int32
RB4                        40339 non-null int32
dtypes: float64(14), int32(7), object(7)
memory usage: 7.8+ MB

In [20]:
data2.columns

Index(['Loan_id', 'Bucket_mar01', 'TENURE_mar01', 'PRINBALANCE_mar01',
       'Months on Books_mar01', 'Sanctioned Amount_mar01', 'Bucket_mar31',
       'PRINBALANCE_mar31', 'Months on Books_mar31', 'Bucket_apr01',
       'PRINBALANCE_apr01', 'Months on Books_apr01', 'Bucket_apr31',
       'PRINBALANCE_apr31', 'Months on Books_apr31', 'Bucket_may01',
       'PRINBALANCE_may01', 'Months on Books_may01', 'Bucket_may31',
       'PRINBALANCE_may31', 'Months on Books_may31', 'RF1', 'RF2', 'RF3',
       'RF4', 'RB2', 'RB3', 'RB4'],
      dtype='object')

### TB0 Data

In [21]:
data_TB0 = pd.DataFrame(df['Loan_Status_MartoMay'])
data_TB0 = data_TB0.drop_duplicates(subset ="Loan_id", keep = 'first', inplace = False) 
data_TB0 = data_TB0.drop(columns=['TENURE', 'Sanctioned Amount','Month',  'Bucket'])
data_TB0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40339 entries, 0 to 80759
Data columns (total 3 columns):
Loan_id            40339 non-null object
PRINBALANCE        40339 non-null float64
Months on Books    40339 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

### Historical Data Prep

In [22]:
#cleaning/processing 6 month data 
data_6m = pd.DataFrame(df['Historical 6 Months Details'])
data_6m = data_6m.drop_duplicates(subset ="Loan_id", keep = 'first', inplace = False) 
data_6m = data_6m.drop(columns=['rollf', 'Month'])
data_6m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40339 entries, 0 to 80759
Data columns (total 11 columns):
Loan_id             40339 non-null object
paidcure            40339 non-null int64
paiduncure          40339 non-null int64
unpaid              40339 non-null int64
rollb               40339 non-null int64
num6mosdel          40339 non-null int64
num3mosdel          40339 non-null int64
num6mosdel_2plus    40339 non-null int64
num3mosdel_2plus    40339 non-null int64
max6del             40339 non-null int64
max3del             40339 non-null int64
dtypes: int64(10), object(1)
memory usage: 3.7+ MB

### Call Data Prep

In [23]:
#assigns 'Call Detail' table to dataframe
call_data = df['Call Details']
call_data.tail()

,month,Application_Id,Login_ID,Right_Party_Contact,Promise_to_pay,total_contacts
79609,5,MX-999897229,AGNT19,0,0,2
79610,5,MX-999911711,AGNT6,0,0,1
79611,5,MX-999978990,AGNT43,2,0,2
79612,5,MX-999980626,AGNT21,1,1,1
79613,5,MX-999985403,AGNT19,5,1,6

In [24]:
#groups call data by id and then aggregates
month_table = call_data.groupby(['Application_Id']).aggregate({'month':'nunique', 'Right_Party_Contact':'sum', 'Promise_to_pay':'sum', 'total_contacts':'sum'})

#calculates Right Party Contacts (RPC) rate and Percentage of outbound calls resulting in Promise to Pay (PTP)
# month_table['avg_intensity'] = round(month_table['total_contacts'] / month_table['month'], 3)
month_table['RPC_rate'] = round(month_table['Right_Party_Contact'] / month_table['total_contacts'], 3)
month_table['PTP_rate'] = round(month_table['Promise_to_pay'] / month_table['total_contacts'], 3)
month_table.rename(columns={'month':'month_count'}, inplace=True)

In [25]:
call_data = pd.merge(df['Loan_ID mapping'], month_table, how='outer', left_on='Application_id', right_on='Application_Id')

In [26]:
call_data.fillna(0, inplace=True)
valid = len(month_table)
missing = len(call_data[call_data['total_contacts'].isnull()])
call_data[call_data['total_contacts'].isnull()]

Empty DataFrame
Columns: [Loanid, Application_id, month_count, Right_Party_Contact, Promise_to_pay, total_contacts, RPC_rate, PTP_rate]
Index: []

In [27]:

call_data.rename(columns = {call_data.columns[0]: 'Loan_id'}, inplace = True)

In [28]:
call_data.head()

,Loan_id,Application_id,month_count,Right_Party_Contact,Promise_to_pay,total_contacts,RPC_rate,PTP_rate
0,A987633031,MX-100040250,1.0,5.0,2.0,21.0,0.238,0.095
1,A145720684,MX-10005082,1.0,0.0,0.0,2.0,0.000,0.000
2,A730581847,MX-100062359,1.0,1.0,1.0,1.0,1.000,1.000
3,A134412216,MX-100095892,1.0,1.0,0.0,2.0,0.500,0.000
4,A897161619,MX-100116696,3.0,5.0,2.0,10.0,0.500,0.200

## Target Prep

In [29]:
target_prep = data2.drop(columns=['Bucket_mar01', 'TENURE_mar01', 'PRINBALANCE_mar01',
       'Months on Books_mar01', 'Sanctioned Amount_mar01', 'Bucket_mar31',
       'PRINBALANCE_mar31', 'Months on Books_mar31', 'Bucket_apr01',
       'PRINBALANCE_apr01', 'Months on Books_apr01', 'Bucket_apr31',
       'PRINBALANCE_apr31', 'Months on Books_apr31', 'Bucket_may01',
       'PRINBALANCE_may01', 'Months on Books_may01', 'Bucket_may31',
       'PRINBALANCE_may31', 'Months on Books_may31',
                               ])

In [30]:
target_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40339 entries, 0 to 40338
Data columns (total 8 columns):
Loan_id    40339 non-null object
RF1        40339 non-null int32
RF2        40339 non-null int32
RF3        40339 non-null int32
RF4        40339 non-null int32
RB2        40339 non-null int32
RB3        40339 non-null int32
RB4        40339 non-null int32
dtypes: int32(7), object(1)
memory usage: 1.7+ MB

In [31]:

target_prep['RF_sum'] = target_prep['RF1'] + target_prep['RF2'] +target_prep['RF3'] + target_prep['RF4']
target_prep['target'] = target_prep['RF_sum'].apply(lambda x: 1 if x >1 else 0)
target_prep.columns

Index(['Loan_id', 'RF1', 'RF2', 'RF3', 'RF4', 'RB2', 'RB3', 'RB4', 'RF_sum',
       'target'],
      dtype='object')

In [32]:
target = target_prep.drop(columns=[ 'RF1', 'RF2', 'RF3', 'RF4', 'RB2', 'RB3', 'RB4', 'RF_sum'])

In [33]:
target.head()

      Loan_id  target
0  A205346000       0
1  A675851816       0
2  A260852240       0
3  A374402177       1
4  A211889361       1

### Features Combined

In [34]:
dataframe = pd.merge(data_TB0, df['Loan Details'], how='left', on='Loan_id')

In [35]:
dataframe = pd.merge(dataframe, data_6m, how='left', on='Loan_id')

In [36]:
dataframe = pd.merge(dataframe, call_data, how='left', on='Loan_id')

In [37]:
dataframe = pd.merge(dataframe, target, how='left', on='Loan_id')

In [38]:
dataframe = dataframe.drop(columns=[ 'Loan_id','Application_id','rollb'])

In [39]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40339 entries, 0 to 40338
Data columns (total 22 columns):
PRINBALANCE             40339 non-null float64
Months on Books         40339 non-null int64
Debt_to_burden_Ratio    40339 non-null float64
total_income            40339 non-null float64
TENURE                  40339 non-null int64
Sanctioned Amount       40339 non-null int64
paidcure                40339 non-null int64
paiduncure              40339 non-null int64
unpaid                  40339 non-null int64
num6mosdel              40339 non-null int64
num3mosdel              40339 non-null int64
num6mosdel_2plus        40339 non-null int64
num3mosdel_2plus        40339 non-null int64
max6del                 40339 non-null int64
max3del                 40339 non-null int64
month_count             40339 non-null float64
Right_Party_Contact     40339 non-null float64
Promise_to_pay          40339 non-null float64
total_contacts          40339 non-null float64
RPC_rate                40339 non-null float64
PTP_rate                40339 non-null float64
target                  40339 non-null int64
dtypes: float64(9), int64(13)
memory usage: 7.1 MB

In [51]:
dataframe.head(100)

,PRINBALANCE,Months on Books,Debt_to_burden_Ratio,total_income,TENURE,Sanctioned Amount,paidcure,paiduncure,unpaid,num6mosdel,num3mosdel,num6mosdel_2plus,num3mosdel_2plus,max6del,max3del,month_count,Right_Party_Contact,Promise_to_pay,total_contacts,RPC_rate,PTP_rate,target
0,10539100.0,37,0.244840,5000000.0,48,30000000,2,1,3,5,2,4,2,5,5,2.0,5.0,0.0,16.0,0.312,0.000,1
1,3693500.0,33,0.247458,4199908.0,36,22000000,2,1,3,6,3,6,3,4,4,0.0,0.0,0.0,0.0,0.000,0.000,0
2,24353700.0,30,0.149219,9887482.0,48,40000000,2,1,3,4,3,3,3,4,4,1.0,1.0,0.0,1.0,1.000,0.000,0
3,4441700.0,30,0.178700,5000000.0,36,20000000,2,1,3,4,2,3,2,4,4,1.0,0.0,0.0,1.0,0.000,0.000,0
4,20002300.0,19,0.212669,6105249.0,36,30000000,2,2,2,5,3,2,2,3,3,0.0,0.0,0.0,0.0,0.000,0.000,0
5,1393300.0,47,0.178588,8000000.0,48,40000000,3,1,2,5,2,4,2,4,4,1.0,6.0,2.0,13.0,0.462,0.154,0
6,42514900.0,24,0.165920,12500000.0,48,60000000,4,2,0,6,3,6,3,4,4,1.0,0.0,0.0,1.0,0.000,0.000,0
7,64239700.0,31,0.302176,16190888.0,48,119000000,4,2,0,6,3,6,3,3,3,1.0,0.0,0.0,1.0,0.000,0.000,0
8,2562700.0,33,0.211989,4375691.0,36,20000000,2,2,2,4,2,2,2,3,3,1.0,1.0,0.0,58.0,0.017,0.000,1
9,10207500.0,25,0.174281,5126781.0,36,20000000,3,1,2,4,3,2,2,3,3,0.0,0.0,0.0,0.0,0.000,0.000,0
10,2718200.0,33,0.185993,4987293.0,36,20000000,4,2,0,6,3,5,3,3,3,0.0,0.0,0.0,0.0,0.000,0.000,0
11,2757700.0,32,0.251956,4500000.0,36,24000000,3,1,2,4,2,2,2,3,3,1.0,0.0,0.0,19.0,0.000,0.000,0
12,4702100.0,32,0.181604,5202536.0,36,20000000,3,0,3,3,3,2,2,3,3,1.0,0.0,0.0,1.0,0.000,0.000,0
13,9949000.0,18,0.260081,6975138.0,24,32000000,3,2,1,4,1,2,1,3,3,1.0,2.0,0.0,6.0,0.333,0.000,0
14,20645400.0,19,0.272852,5400000.0,36,31000000,4,1,1,6,3,3,3,2,2,1.0,1.0,0.0,3.0,0.333,0.000,1
15,25280400.0,27,0.210771,7000000.0,48,40000000,3,1,2,6,3,6,3,3,3,1.0,1.0,0.0,1.0,1.000,0.000,0
16,4266700.0,31,0.154770,6991000.0,36,25000000,3,1,2,5,2,3,2,3,3,1.0,5.0,1.0,49.0,0.102,0.020,0
17,11611800.0,24,0.220147,4750000.0,36,22000000,3,1,2,5,2,2,1,2,2,2.0,8.0,2.0,188.0,0.043,0.011,1
18,12290300.0,19,0.259630,6415295.0,36,20000000,2,1,3,4,1,2,0,3,1,1.0,2.0,1.0,10.0,0.200,0.100,1
19,42629300.0,8,0.242890,9023408.0,36,50000000,3,1,2,5,2,4,2,3,3,1.0,73.0,0.0,85.0,0.859,0.000,0
20,9396700.0,25,0.220292,4631579.0,36,22000000,4,2,0,5,2,5,2,4,4,2.0,9.0,0.0,38.0,0.237,0.000,1
21,2781700.0,45,0.123457,14000000.0,48,50000000,3,2,1,5,2,3,2,2,2,2.0,18.0,2.0,32.0,0.562,0.062,1
22,1104800.0,23,0.188967,6000000.0,24,20000000,4,1,1,5,2,2,2,3,3,1.0,1.0,0.0,21.0,0.048,0.000,0
23,11456500.0,27,0.275699,6187845.0,36,30000000,4,1,1,5,3,1,1,2,2,0.0,0.0,0.0,0.0,0.000,0.000,0
24,4039000.0,21,0.194213,7297131.0,24,25000000,3,1,2,3,2,2,2,3,3,1.0,8.0,0.0,66.0,0.121,0.000,0
25,8734000.0,22,0.134376,4924250.0,36,15000000,4,1,1,5,3,4,3,2,2,0.0,0.0,0.0,0.0,0.000,0.000,1
26,8230600.0,30,0.430400,4500000.0,36,41000000,3,1,2,5,2,2,1,2,2,1.0,12.0,2.0,49.0,0.245,0.041,0
27,51971400.0,18,0.328711,7702508.0,48,63000000,3,1,2,3,3,2,2,3,3,2.0,4.0,1.0,12.0,0.333,0.083,1
28,542900.0,34,0.161712,3155000.0,36,11000000,3,1,2,4,1,3,1,3,3,1.0,1.0,0.0,48.0,0.021,0.000,0
29,8863800.0,26,0.154571,7000000.0,36,25000000,3,2,1,5,2,4,2,3,2,2.0,5.0,2.0,47.0,0.106,0.043,1
30,21976100.0,17,0.249110,6296409.0,36,33000000,4,1,1,5,2,5,2,4,4,1.0,6.0,2.0,8.0,0.750,0.250,0
31,7208200.0,32,0.283433,6000000.0,36,36000000,4,1,1,4,3,1,1,2,2,1.0,0.0,0.0,1.0,0.000,0.000,0
32,865750.0,34,0.342500,4000000.0,36,29000000,5,1,0,6,3,0,0,1,1,2.0,3.0,0.0,7.0,0.429,0.000,1
33,25086200.0,11,0.232534,5800000.0,36,30000000,4,2,0,5,3,3,3,2,2,1.0,1.0,0.0,1.0,1.000,0.000,0
34,2322100.0,34,0.329800,7500000.0,36,54000000,5,1,0,6,3,0,0,1,1,3.0,3.0,1.0,5.0,0.600,0.200,1
35,11407100.0,27,0.350814,7000000.0,36,33000000,3,1,2,3,2,2,2,3,3,1.0,1.0,0.0,29.0,0.034,0.000,1
36,12801700.0,20,0.160727,5914365.0,36,20000000,3,2,1,4,3,1,1,2,2,1.0,1.0,0.0,1.0,1.000,0.000,0
37,4618700.0,44,0.262309,6808000.0,48,50000000,5,1,0,6,3,0,0,1,1,3.0,4.0,0.0,5.0,0.800,0.000,1
38,2695400.0,33,0.201967,6000000.0,36,28000000,5,1,0,6,3,0,0,1,1,3.0,1.0,1.0,6.0,0.167,0.167,1
39,2904100.0,34,0.488374,4949490.0,36,30000000,5,1,0,6,3,0,0,1,1,0.0,0.0,0.0,0.0,0.000,0.000,0
40,7908400.0,28,0.174617,6000000.0,36,25000000,5,0,1,6,3,1,1,2,2,2.0,3.0,0.0,4.0,0.750,0.000,1
41,25305900.0,27,0.245359,8597200.0,48,40000000,5,0,1,6,3,6,3,3,3,1.0,0.0,0.0,1.0,0.000,0.000,1
42,3808650.0,32,0.251950,6000000.0,36,32000000,5,1,0,6,3,0,0,1,1,2.0,1.0,1.0,5.0,0.200,0.200,1
43,39798500.0,23,0.249070,15266016.0,36,80000000,4,1,1,5,2,3,2,3,3,2.0,6.0,1.0,29.0,0.207,0.034,1
44,12060100.0,28,0.244218,5853373.0,36,32000000,4,1,1,4,3,1,1,2,2,1.0,1.0,1.0,1.0,1.000,1.000,0
45,9284300.0,27,0.147053,7357900.0,36,25000000,5,0,1,6,3,2,2,2,2,1.0,0.0,0.0,1.0,0.000,0.000,0
46,5007801.0,32,0.247820,5000000.0,36,29000000,5,1,0,6,3,0,0,1,1,1.0,2.0,0.0,2.0,1.000,0.000,0
47,7700600.0,28,0.197655,4693037.0,36,20000000,5,0,1,6,3,1,1,2,2,1.0,1.0,0.0,1.0,1.000,0.000,0
48,5523200.0,31,0.200311,7075000.0,36,30000000,5,1,0,6,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,0
49,5110005.0,31,0.241837,4986000.0,36,26000000,5,1,0,6,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,1
50,1303400.0,23,0.164919,6750000.0,24,20000000,4,2,0,5,3,0,0,1,1,1.0,2.0,0.0,2.0,1.000,0.000,1
51,3987800.0,30,0.244703,3601105.0,36,19000000,5,1,0,6,3,0,0,1,1,2.0,2.0,0.0,14.0,0.143,0.000,1
52,11719100.0,26,0.243250,5142446.0,36,28000000,5,0,1,6,3,1,1,2,2,1.0,1.0,0.0,1.0,1.000,0.000,0
53,7216300.0,41,0.227807,5726776.0,48,34000000,5,1,0,6,3,0,0,1,1,3.0,1.0,1.0,3.0,0.333,0.333,1
54,4260500.0,30,0.212232,4370689.0,36,20000000,5,1,0,6,3,0,0,1,1,3.0,2.0,0.0,5.0,0.400,0.000,1
55,4439400.0,30,0.211712,4381430.0,36,20000000,5,1,0,6,3,0,0,1,1,1.0,2.0,0.0,2.0,1.000,0.000,0
56,14478300.0,40,0.297981,10638919.0,48,63000000,5,1,0,6,3,0,0,1,1,2.0,2.0,1.0,2.0,1.000,0.500,1
57,20083500.0,26,0.210613,11283706.0,36,50000000,4,2,0,5,3,2,2,2,2,1.0,3.0,0.0,3.0,1.000,0.000,0
58,6058900.0,29,0.161971,7000000.0,36,24000000,5,1,0,6,3,0,0,1,1,1.0,2.0,0.0,2.0,1.000,0.000,1
59,6311000.0,44,0.319675,8000000.0,48,55000000,4,2,0,5,2,0,0,1,1,3.0,5.0,0.0,42.0,0.119,0.000,1
60,16054700.0,39,0.329463,6717285.0,48,60000000,5,1,0,6,3,0,0,1,1,0.0,0.0,0.0,0.0,0.000,0.000,1
61,22745600.0,32,0.241320,7183831.0,48,47000000,5,0,1,6,3,1,1,2,2,1.0,3.0,0.0,3.0,1.000,0.000,1
62,16340400.0,32,0.273612,6950000.0,48,38000000,3,1,2,4,2,3,2,3,3,1.0,1.0,0.0,40.0,0.025,0.000,1
63,44999000.0,36,0.290110,13600000.0,48,120000000,3,2,1,3,2,1,1,2,2,0.0,0.0,0.0,0.0,0.000,0.000,0
64,7601100.0,29,0.137326,8600000.0,36,25000000,5,1,0,6,3,0,0,1,1,0.0,0.0,0.0,0.0,0.000,0.000,1
65,4575600.0,29,0.173925,4000000.0,36,15000000,5,1,0,6,3,0,0,1,1,1.0,1.0,1.0,1.0,1.000,1.000,0
66,15945200.0,23,0.285180,5000000.0,36,30000000,4,1,1,4,3,2,2,2,2,0.0,0.0,0.0,0.0,0.000,0.000,1
67,8144600.0,27,0.193607,6100000.0,36,25000000,5,1,0,6,3,0,0,1,1,2.0,7.0,0.0,7.0,1.000,0.000,1
68,874500.0,34,0.290731,2600000.0,36,16000000,3,3,0,4,2,0,0,1,1,3.0,5.0,0.0,42.0,0.119,0.000,1
69,3779100.0,32,0.238768,3690608.0,36,19000000,4,2,0,5,2,0,0,1,1,1.0,2.0,0.0,2.0,1.000,0.000,1
70,10461700.0,18,0.212782,8551000.0,24,30000000,5,1,0,6,3,0,0,1,1,2.0,2.0,1.0,2.0,1.000,0.500,1
71,6637600.0,31,0.327225,4475203.0,36,31000000,4,2,0,5,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,1
72,10898400.0,26,0.302372,6862734.0,36,29000000,5,1,0,6,3,0,0,1,1,1.0,2.0,1.0,3.0,0.667,0.333,0
73,38156600.0,17,0.243254,7774586.0,48,46000000,4,0,2,6,3,2,2,2,2,1.0,1.0,0.0,1.0,1.000,0.000,1
74,1906200.0,33,0.178709,4671271.0,36,18000000,5,1,0,6,3,1,1,2,2,2.0,5.0,0.0,5.0,1.000,0.000,1
75,7912200.0,28,0.247305,5157594.0,36,27000000,4,2,0,5,3,0,0,1,1,2.0,3.0,0.0,3.0,1.000,0.000,1
76,22804400.0,33,0.488681,10000000.0,48,52000000,5,1,0,6,3,0,0,1,1,1.0,0.0,0.0,2.0,0.000,0.000,1
77,10674500.0,31,0.446402,10000000.0,36,53000000,4,1,1,5,2,0,0,1,1,3.0,3.0,1.0,4.0,0.750,0.250,1
78,15673700.0,25,0.275567,6000000.0,36,35000000,5,1,0,6,3,0,0,1,1,2.0,3.0,0.0,9.0,0.333,0.000,1
79,4890900.0,26,0.355096,12000000.0,36,13000000,3,2,1,4,2,1,1,2,2,1.0,2.0,1.0,8.0,0.250,0.125,0
80,2890100.0,31,0.070862,8000000.0,36,12000000,4,1,1,5,2,0,0,1,1,2.0,6.0,3.0,23.0,0.261,0.130,1
81,13277600.0,12,0.256025,5364778.0,36,17000000,3,1,2,3,2,2,2,3,3,1.0,3.0,0.0,30.0,0.100,0.000,1
82,16289500.0,31,0.177351,7141224.0,48,32000000,5,1,0,6,3,0,0,1,1,2.0,2.0,2.0,2.0,1.000,1.000,1
83,41900900.0,31,0.252886,11668110.0,48,80000000,5,1,0,6,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,0
84,21286000.0,30,0.217479,7562111.0,48,40000000,5,1,0,6,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,0
85,20013200.0,35,0.306394,8586000.0,48,50000000,4,2,0,5,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,1
86,16305600.0,22,0.413669,3446961.0,36,30000000,5,1,0,6,3,0,0,1,1,3.0,4.0,1.0,7.0,0.571,0.143,1
87,22889000.0,15,0.302222,7200000.0,36,32000000,4,2,0,5,2,2,2,2,2,3.0,16.0,6.0,83.0,0.193,0.072,1
88,27472300.0,28,0.200755,9040360.0,48,50000000,5,1,0,6,3,0,0,1,1,2.0,3.0,0.0,4.0,0.750,0.000,1
89,3334600.0,33,0.196973,5995746.0,36,25000000,5,0,1,6,3,1,1,2,2,0.0,0.0,0.0,0.0,0.000,0.000,1
90,4476100.0,30,0.264000,3400000.0,36,19000000,5,1,0,6,3,3,1,2,2,3.0,2.0,0.0,3.0,0.667,0.000,1
91,19558900.0,14,0.231569,5100000.0,36,25000000,4,1,1,4,3,1,1,2,2,1.0,0.0,0.0,2.0,0.000,0.000,0
92,14309100.0,21,0.226200,5000000.0,36,25000000,5,1,0,6,3,0,0,1,1,2.0,5.0,5.0,7.0,0.714,0.714,1
93,23878600.0,27,0.388678,5500000.0,48,40000000,5,1,0,6,3,0,0,1,1,3.0,2.0,0.0,4.0,0.500,0.000,1
94,89956900.0,26,0.112715,46001173.0,48,150000000,5,1,0,6,3,0,0,1,1,3.0,1.0,0.0,3.0,0.333,0.000,1
95,5512900.0,43,0.296983,6000000.0,48,44000000,5,1,0,5,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,1
96,3625950.0,32,0.156697,7635100.0,36,28000000,5,1,0,5,3,0,0,1,1,0.0,0.0,0.0,0.0,0.000,0.000,1
97,12267200.0,20,0.214314,4435539.0,36,20000000,5,1,0,6,3,0,0,1,1,1.0,1.0,0.0,1.0,1.000,0.000,1
98,16316200.0,16,0.214216,5100000.0,36,24000000,4,1,1,5,2,1,1,2,2,2.0,2.0,0.0,43.0,0.047,0.000,1
99,8139700.0,30,0.273883,6000000.0,36,35000000,3,2,1,4,2,0,0,1,1,3.0,1.0,0.0,4.0,0.250,0.000,1

## Model

In [41]:
from sklearn.metrics import make_scorer, accuracy_score, roc_auc_score 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [42]:
X= dataframe.drop(columns=['target'])
y= dataframe['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [43]:
import time
xgb = XGBClassifier(n_estimators=100)
training_start = time.perf_counter()
xgb.fit(X_train, y_train)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = xgb.predict(X_test)
prediction_end = time.perf_counter()
acc_xgb = (preds == y_test).sum().astype(float) / len(preds)*100
xgb_train_time = training_end-training_start
xgb_prediction_time = prediction_end-prediction_start
XGB_Accuracy = accuracy_score(y_test, preds)
XGB_AUC = roc_auc_score(y_test, preds)

print("XGBoost's prediction accuracy is: %3.2f" % (acc_xgb))
print("Time consumed for training: %4.3f" % (xgb_train_time))
print("Time consumed for prediction: %6.5f seconds" % (xgb_prediction_time)) 
print("AUC: " + str(XGB_AUC))

XGBoost's prediction accuracy is: 94.11
Time consumed for training: 5.009
Time consumed for prediction: 0.08588 seconds
AUC: 0.9503212141088636

In [44]:
RFC_Model = RandomForestClassifier()
RFC_Model.fit(X_train, y_train)
RFC_Predict = RFC_Model.predict(X_test)
RFC_Accuracy = accuracy_score(y_test, RFC_Predict)
print("Accuracy: " + str(RFC_Accuracy))

RFC_AUC = roc_auc_score(y_test, RFC_Predict) 
print("AUC: " + str(RFC_AUC))

Accuracy: 0.9426081730769231
AUC: 0.9523925393819493

In [45]:
#Logistic Regression
LR_Model = LogisticRegression()
training_start2 = time.perf_counter()
LR_Model.fit(X_train, y_train)
training_end2 = time.perf_counter()
prediction_start2 = time.perf_counter()
preds = LR_Model.predict(X_test)
prediction_end2 = time.perf_counter()
acc_LR = (preds == y_test).sum().astype(float) / len(preds)*100
LR_train_time = training_end2-training_start2
LR_prediction_time = prediction_end2-prediction_start2
LR_Accuracy = accuracy_score(y_test, preds)
LR_AUC = roc_auc_score(y_test, preds)

print("LR's prediction accuracy is: %3.2f" % (acc_LR))
print("Time consumed for training: %4.3f" % (LR_train_time))
print("Time consumed for prediction: %6.5f seconds" % (LR_prediction_time)) 
print("AUC: " + str(LR_AUC))

LR's prediction accuracy is: 64.55
Time consumed for training: 0.313
Time consumed for prediction: 0.00312 seconds
AUC: 0.5

In [46]:
print(xgb.feature_importances_)
print(RFC_Model.feature_importances_)

[0.00378651 0.00306394 0.0023139  0.00227875 0.00247637 0.00217809
 0.00227092 0.00239556 0.00298646 0.00252683 0.00793218 0.00315364
 0.00279523 0.         0.         0.9480186  0.00189721 0.00257675
 0.00211155 0.00263328 0.00260418]
[3.97636605e-02 3.59641646e-02 3.58371152e-02 3.39863994e-02
 6.05785242e-03 2.52970121e-02 8.89003710e-03 1.31030113e-03
 3.10229683e-03 4.71626807e-03 4.99235492e-03 4.58058637e-04
 4.01618449e-04 2.36953781e-03 2.31580224e-03 5.30045147e-01
 6.90890141e-02 4.68688384e-02 9.21649294e-02 2.91003065e-02
 2.72692848e-02]

In [50]:
from sklearn.neighbors import KNeighborsClassifier
KNN_Model = KNeighborsClassifier()
KNN_Model.fit(X_train, y_train)
KNN_Predict = KNN_Model.predict(X_test)
KNN_Accuracy = accuracy_score(y_test, KNN_Predict)
print("Accuracy: " + str(KNN_Accuracy))

KNN_AUC = roc_auc_score(y_test, KNN_Predict) 
print("AUC: " + str(KNN_AUC))

Accuracy: 0.5987079326923077
AUC: 0.5337770925723064

In [55]:
from sklearn.tree import DecisionTreeClassifier
DT_Model = DecisionTreeClassifier()
DT_Model.fit(X_train, y_train)
DT_Predict = DT_Model.predict(X_test)
DT_Accuracy = accuracy_score(y_test, DT_Predict)
print("Accuracy: " + str(DT_Accuracy))

DT_AUC = roc_auc_score(y_test, DT_Predict) 
print("AUC: " + str(DT_AUC))

Accuracy: 0.9067758413461539
AUC: 0.8962155755581696

In [56]:
model_performance_accuracy = pd.DataFrame({'Model': ['LogisticRegression', 
                                                      'RandomForestClassifier', 
                                                      'KNeighborsClassifier',
                                                      'DecisionTreeClassifier',
                                                      ],
                                            'Accuracy': [LR_Accuracy,
                                                         RFC_Accuracy,
                                                         KNN_Accuracy,
                                                         DT_Accuracy]})

model_performance_AUC = pd.DataFrame({'Model': ['LogisticRegression', 
                                                      'RandomForestClassifier', 
                                                      'KNeighborsClassifier',
                                                      'DecisionTreeClassifier'],
                                            'AUC': [LR_AUC,
                                                         RFC_AUC,
                                                         KNN_AUC,
                                                         DT_AUC]})

In [77]:
model_performance= pd.DataFrame({'Model': ['LogisticRegression', 'RandomForestClassifier', 'XGBClassifier','KNeighborsClassifier',
                                                      'DecisionTreeClassifier'],
                                            'Accuracy': [LR_Accuracy,RFC_Accuracy,XGB_Accuracy, KNN_Accuracy,DT_Accuracy],
                                             'AUC': [LR_AUC,RFC_AUC,XGB_AUC, KNN_AUC,DT_AUC]})
model_performance

                    Model  Accuracy       AUC
0      LogisticRegression  0.645508  0.500000
1  RandomForestClassifier  0.942608  0.952393
2           XGBClassifier  0.941106  0.950321
3    KNeighborsClassifier  0.598708  0.533777
4  DecisionTreeClassifier  0.906776  0.896216

In [61]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
print(collections.Counter(y_train))
print(collections.Counter(y_test))

(27027, 21)
(27027,)
(13312, 21)
(13312,)
Counter({1: 17292, 0: 9735})
Counter({1: 8593, 0: 4719})